 <nav class="row">
      <div class="col-md-1">
        <a href="/likes">
          <img src="/imgs/all_likes.png" class="nav-icon">
        </a>
      </div>
      <div class="col-md-1">
        <a href="/likes/photos">
          <img src="/imgs/photos.png" class="nav-icon">
        </a>
      </div>
      <div class="col-md-1">
        <a href="/likes/text">
          <img src="/imgs/text.png" class="nav-icon">
        </a>
      </div>
      <div class="col-md-1">
        <a href="/likes/quotes">
          <img src="/imgs/quotes.png" class="nav-icon">
        </a>
      </div>
      <div class="col-md-1">
        <a href="/likes/links">
          <img src="/imgs/links.png" class="nav-icon">
        </a>
      </div>
      <div class="col-md-1">
        <a href="/likes/videos">
          <img src="/imgs/videos.png" class="nav-icon">
       </a>
      </div>
      <div class="col-md-1">
        <a href="/likes/audio">
          <img src="/imgs/audio.png" class="nav-icon">
        </a>
      </div>
    </nav>