
 <nav class="row navbar">
      <div class="col-xs-1">
        <div class="nav-icon-cont">
          <a href="/likes">
            <img src="/imgs/all_likes.png" class="nav-icon">
          </a>
          <p class="nav-text"> All </p>
        </div>
      </div>
      <div class="col-xs-1">
        <div class="nav-icon-cont">
          <a href="/likes/photos">
            <img src="/imgs/photos.png" class="nav-icon">
          </a>
          <p class="nav-text"> Photos </p>
        </div>
      </div>
      <div class="col-xs-1">
        <div class="nav-icon-cont">
          <a href="/likes/text">
            <img src="/imgs/text.png" class="nav-icon">
          </a>
          <p class="nav-text"> Text </p>
        </div>
      </div>
      <div class="col-xs-1">
        <div class="nav-icon-cont">
          <a href="/likes/quotes">
            <img src="/imgs/quotes.png" class="nav-icon">
          </a>
          <p class="nav-text"> Quotes </p>
        </div>
      </div>
      <div class="col-xs-1">
        <div class="nav-icon-cont">
          <a href="/likes/links">
            <img src="/imgs/links.png" class="nav-icon">
          </a>
          <p class="nav-text"> Links </p>
        </div>
      </div>
      <div class="col-xs-1">
        <div class="nav-icon-cont">
          <a href="/likes/videos">
            <img src="/imgs/videos.png" class="nav-icon">
         </a>
          <p class="nav-text"> Videos </p>
        </div>
      </div>
      <div class="col-xs-1">
        <div class="nav-icon-cont">
          <a href="/likes/audio">
            <img src="/imgs/audio.png" class="nav-icon">
          </a>
          <p class="nav-text"> Audio </p>
        </div>
      </div>
    </nav>