<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>

<body>

  <div class="page-header">
    <% include partials/header.ejs %>
  </div>

  <div class="container">

    <nav class="row">
      <div class="col-md-1"><a href="/likes"> All Likes </a></div>
      <div class="col-md-1"><a href="/likes/photos"> Photos </a></div>
      <div class="col-md-1"><a href="/likes/text"> Text </a></div>
      <div class="col-md-1"><a href="/likes/quotes"> Quotes </a></div>
      <div class="col-md-1"><a href="/likes/links"> Links </a></div>
      <div class="col-md-1"><a href="/likes/videos"> Videos </a></div>
      <div class="col-md-1"><a href="/likes/audio"> Audio </a></div>
    </nav>



    <div class="row">
      <%- body %>
    </div>

  </div>

  <script src="/js/display_data.js"></script>
  <script src="/js/my_jquery.js"></script>

</body>
</html>