<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>

<body>

  <% include partials/header.ejs %>

  <p><a href="/likes"> All Likes </a></p>
  <p><a href="/likes/photos"> Photos </a></p>
  <p><a href="/likes/text"> Text </a></p>
  <p><a href="/likes/quotes"> Quotes </a></p>
  <p><a href="/likes/links"> Links </a></p>


  <%- body %>

   <script src="https://code.jquery.com/jquery-2.1.4.min.js" charset="utf-8"></script>
  <script src="/js/my_jquery.js"></script>

</body>
</html>