h1 {
  color: #B8449D;
  margin-left: 20px;
}

h1 a {
  text-decoration: none;
  color: #B8449D;
}

a:hover {
  text-decoration: none;
}

.col-md-1 {
  padding-top: 15px;
  padding-bottom: 15px;
  border-right: 0.5px solid gray;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;

}

.col-md-1:nth-of-type(1) {
  border-left: 1px solid gray;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.col-md-1:nth-of-type(7) {
  border-right: 1px solid gray;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.nav-icon {
  margin-left: 9px;
}