body {
  background-color: #35465c;
  font-family: 'Lato', sans-serif;

}

.page-header {
  margin-top: 0;
  margin-bottom: 10px;
}

.title a {
  color: #fff;
  opacity: .5;
  margin-left: 30px;
}

h1 a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h2 {
  color: #fff;
  opacity: .5;
}


.nav-text {
  color: black;
  margin: auto;
  max-width: 100%;
  height: auto;
  text-align: center;
}

.nav-icon {
  max-width: 100%;
  height: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.nav-icon-cont {
 max-width: 100%;
 height: auto;
}

.nav-icon {
  margin: auto;
  opacity: .7;
}


.col-xs-1 {
  background-color: white;
  padding-top: 25px;
  padding-bottom: 13px;
  border-right: 0.5px solid #EDEDED;
  border-top: 1px solid white;
  border-bottom: 1px solid white;

}


/*.navbar {
  margin-left: 30px;
}*/

.col-xs-1:nth-of-type(1) {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.col-xs-1:nth-of-type(7) {
  border-right: 1px solid white;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}


