

  <h2> Photos </h2>

     <% posts.forEach(function(post){ %>
        <ul>
          <li><%= post.blogName %></li>
            <ul>
              <img src="<%= post.photoUrl %>">

            </ul>
        </ul>
     <% }); %>
