  <h2> Quotes </h2>

  <% posts.forEach(function(post){ %>
    <div class="post-wrapper col-md-7">
         <div class="blogname-text">
            <p class="blogName"><%= post.blogName %></p>
          </div>
          <div class="title">
            <%= post.text %>
          </div>
          <div class="source">
            <i><%= post.source %></i>
          </div>
    </div>
  <% }); %>